.new-message {
  height: 15rem;
  /* min-width: 35rem; */
  border: 1px solid #e2e1e1;
  font-family: sans-serif;
  background-color: white;
}
.fix {
  position: fixed;
  min-width: 38.1rem;
  height: 10rem;
  top: 0;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e1e1;
  align-items: center;
  background-color: white;
  height: 3.5rem;
  padding: 0;
  margin: 0;
}
.tweet-header .title {
  padding: 0.1rem 1rem;
  line-height: 1.2rem;
  margin-top: -15px;
}
.tweet-header .title h2 {
  font-size: 18px;
  font-weight: 900;
}
.latest-icon img {
  width: 25px;
  padding: 1rem;
}
.tweet-body {
  padding-top: 3.5rem;
  display: flex;
}
.user-tweeet-message {
  margin-top: 0.5rem;
  padding: 1rem 0;
}
.user-tweeet-message input {
  border: none;
  font-size: 22px;
  outline: none;
  color: #444444;
}
.view-desc {
  display: flex;
  object-fit: contain;
}
.view-desc img {
  width: 16px;
  padding: 3px 0;
}
hr {
  width: 90%;
  margin-left: 9%;
  border: none;
  border-bottom: 0.1rem solid #e2e1e1;
}
.view-desc span {
  font-size: 14px;
  font-weight: 700;
  padding: 0.5rem;
  color: dodgerblue;
}
.tweet-button {
  display: flex;
  justify-content: space-between;
}
.tweet-icons {
  display: flex;
  gap: 1rem;
  padding-left: 4rem;
  padding-top: 1rem;
}

.tweet-icons img {
  width: 22px;
  height: 20px;
  margin: 0.1rem;
  color: blue;
}
.new-tweet-button {
  padding: 0.2rem 1rem;
}
.new-tweet-button button {
  font-family: sans-serif;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #1da1f2;
  font-size: 16px;
  font-weight: 600;
}
.user-tweet-img img {
  width: 45px;
  padding: 1rem;
}
@media only screen and (max-width: 690px) and (min-width: 350px) {
  .new-message {
    display: none;
  }
}
@media only screen and (max-width: 1080px) {
  .new-message {
    min-width: 32rem;
  }
  .fix {
    position: fixed;
    min-width: 38.1rem;
    top: 0;
  }
}
