.tweet-list {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid #e2e1e1;
  height: 100vh;
  margin-top: 0.5rem;
  background-color: white;
  /* font-family: sans-serif; */
}
.tweet {
  min-height: 8rem;
  border-bottom: 1px solid rgb(235, 238, 240);
  padding: 0.3rem;
}
.tweet:hover {
  background-color: rgb(235, 238, 240);
}
.user-tweet-body {
  display: flex;
}
.user-icon {
  margin: 0.2rem 1rem;
  object-fit: contain;
}
.user-icon img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
.tweet-content {
  padding: 0.8rem 0;
  font-weight: normal;
  color: rgb(0, 0, 0, 0.9);
  text-align: left;
}
.tweet-user-info {
  display: flex;
  gap: 0.5rem;
}
.profile_name span {
  font-weight: bold;
  font-size: 16px;
}
.username span,
.time span {
  font-weight: 520;
  font-size: 14px;
  color: #575656;
}
.user-tweet-msg {
  font-size: 16px;
}
.tweet-bottom-icon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}
.tweet-bottom-icon > div {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  width: 120px;
  font-size: small;
}
.verified img {
  width: 20px;
  margin: 0;
}
.tweet-bottom-icon img {
  width: 16px;
  margin-top: 0.2rem;
}
.comment,
.retweet,
.like,
.share {
  width: 30px;
  height: 25px;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.comment-icon,
.retweet-icon,
.like-icon,
.share-icon {
  padding: 0.3rem 0.5rem;
  border-radius: 50px;
}
.comment-icon:hover,
.retweet-icon:hover,
.like-icon:hover,
.share-icon:hover {
  background-color: rgba(126, 186, 247, 0.918);
}

@media only screen and (max-width: 690px) and (min-width: 350px) {
  .tweet-list {
    max-width: 24rem;
    justify-content: center;
    align-items: center;
  }
  .tweet-bottom-icon > div {
    width: auto;
  }
}
