.container {
  display: flex;
  justify-content: center;
  padding: 0 4rem;
}
.tweetButton{
  display: none;
}
.main {
  background-color: rgb(235, 238, 240);
}

@media screen and (max-width: 1080px) {
  .news-part {
    display: none;
  }
}
@media only screen and (max-width: 690px) and (min-width: 350px) {
  .tweetButton {
    display: block;
    position: fixed;
    right: 1em;
    bottom: 4em;

  }
  .tweetBtn {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
  .logo {
    width: 1.5rem;
    height: 1.5rem;
  }
}
