.main-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin-right: 1rem;
  font-family: sans-serif;
}
.sidebar {
  display: flex;
  flex-direction: column;
  /* background: rebeccapurple; */
  align-items: center;
}
.nav-link {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition-property: background-color, box-shadow;
  cursor: pointer;
}
.hover-effect:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 9999px;
}
.logo {
  padding: 0 1rem;
  width: 1.5rem;
  height: 24px;
  color: rgba(29, 161, 242, 1);
}
.link {
  width: 50%;
  /* background: cornsilk; */
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: rgb(15, 20, 25);
}
.active {
  font-weight: 700;
  color: rgb(29, 161, 242);
  fill: rgb(29, 161, 242);
}

.tweetBtn {
  align-items: center;
  background-color: rgb(29, 161, 242);
  color: #ffffff;
  width: 80%;
  min-height: 48px;
  font-size: 16px;
  font-family: sans-serif;
  padding: 0 32px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 9999px;
  border: none;
  transition-duration: 0.2s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  transition-property: background-color, box-shadow;
}

.userInfo {
  width: 100%;
}

.userlogo {
  padding: 0 0.5rem;
  width: 2rem;
  height: 2rem;
}

.info > p {
  margin: 0;
}
.user-id {
  font-size: 14px;
  color: rgb(91, 112, 131);
  line-height: 20px;
  font-weight: 400;
}
.more {
  margin-left: 2rem;
}

.post-tweet {
  display: none;
}

.Searchbtn {
  display: none;
}

.mobile-tabs {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .main-block {
    margin-right: 0;
    padding: 0 1rem;
  }
  .link,
  .info,
  .more {
    display: none;
  }

  .nav-link {
    padding: 12px 0;
  }
  .userlogo {
    margin-right: 1rem;
  }
  .tweetBtn {
    width: 3em;
    height: 3em;
    padding-left: 16px;
    padding-right: 36px;
    justify-content: start;
    border-radius: 100%;
  }
  .tweetBtn > span {
    display: none;
  }
  .post-tweet {
    padding: 0;
    display: block;
  }
  .Searchbtn {
    display: flex;
  }
}

@media only screen and (max-width: 690px) and (min-width: 350px) {
  .main-block {
    display: none;
  }

  .mobile-tabs {
    z-index: 12;
    position: fixed;
    background: white;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(235, 238, 240);
  }
  .logo {
    width: 2rem;
    height: 2rem;
    fill: rgb(91, 112, 131);
  }
  .active {
    fill: rgb(29, 161, 242);
  }

}
