.main-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin-right: 1rem;
}
.sidebar{
    display: flex;
    flex-direction: column;
    /* background: rebeccapurple; */

}    
.nav-link{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    transition-property: background-color, box-shadow;
    cursor: pointer;
}
.hover-effect:hover{
    background-color: rgba(29,161,242,0.1);
    border-radius: 9999px;
}
.logo{
    padding:0 1rem ;
    width: 1.5rem;
    height: 24px;
    color: rgba(29,161,242,1.00);
}
.link{
    width: 50%;
    /* background: cornsilk; */
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(15, 20, 25);
}


.tweetBtn{
    align-items:center;
    background-color: rgb(29, 161, 242);
    color:#ffffff;
    width: 80%;
    min-height: 48px;
    font-family:Times New Roman;
    font-size:15px;
    padding:0 32px;
    font-weight:700;
    line-height:20px;
    text-align:center;
    border-radius:9999px;
    border:none;
    transition-duration: 0.2s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
    transition-property: background-color, box-shadow;
}

.userInfo{
    width: 100%;
}

.userlogo{
    padding:0 .5rem;
    width: 2rem;
    /* background-color: blue; */
    height: 2rem;
}

.info > p{
    margin: 0;
}

.more{
    margin-left: 2rem;
}
