.messageBox{
    position: fixed;
    bottom: 0;
    right: 3rem;
    width: 25%;
    height: 53px;
    padding: 0 1rem;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: .5rem .5rem 0 0;
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;    
    cursor: pointer;
}   

.message{
    flex: 3;
    font-size: 20px;
    font-weight: 800;
    padding-left: 1rem;
}
.icons{
    flex: 1;
    display: flex;
}

.icon{
    color: rgba(62, 124, 163,1.00);
    width: 1.5em;
    height: 1.5em;
    vertical-align: text-bottom;
    padding: 0 .5rem;
}